.header{
    width: auto;
    margin: auto;
    background-color: blueviolet;
    padding: 20px;
}
.header h1{
        text-align: center;
        color: white;
    }
.aside{
    background-color: white; 
    padding: 25px;
}
.article{
    background-color: aqua;
}
.footer{
    background-color: blueviolet;
}
.footer h1{
    text-align: center;
    padding: 20px;
    color: white;
}