.header{
    width: auto;
    margin: auto;
    background-color: blueviolet;
    padding: 20px;
    h1{
        text-align: center;
        color: white;
    }
}
.aside{
    background-color: white; 
    padding: 20px;
}
.article{
    background-color: aqua;
}
.footer{
    background-color: blueviolet;
    h1{
    text-align: center;
    padding: 20px;
    color: white;
}
}